<%- include('../../fragments/header.ejs') %>

 <main>
  <h2>Lista kamer</h2>

  <table class="table-list">
   <thead>
   <tr>
    <th>ID</th>
    <th>Alias</th>
    <th>Lokalizacja</th>
    <th>Producent</th>
    <th>Rozdzielczość</th>
    <th>Akcje</th>
   </tr>
   </thead>

   <tbody>
   <% for (let cam of cams) { %>
    <tr>
     <td><%= cam.id %></td>
     <td><%= cam.alias %></td>
     <td><%= cam.location %></td>
     <td><%= cam.manufacturer %></td>
     <td><%= cam.resolution %></td>

     
     <td>
      <ul class="list-actions">
       <li><a href="/camera/details/<%=cam.id%>" class="list-actions-button-details">Szczegóły</a></li>
       <li><a href="/camera/edit/<%=cam.id%>" class="list-actions-button-edit">Edytuj</a></li>
       <li><a href="/camera/delete/<%=cam.id%>" class="list-actions-button-delete">Usuń</a></li>
      </ul>
     </td>
    </tr>
   <% } %>
   </tbody>


  </table>

  <p><a class="button-add" href="camera/add">Dodaj nową kamerę</a></p>

 </main>


<%- include('../../fragments/footer.ejs') %>