<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="../js/validationCommon.js"></script>
    <script type="application/javascript" src="../js/validationEncounterForm.js"></script>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="id" value="<%= enc.id %>">

        <label for="Car_registration">Nr. rej.:<abbr title="required" aria-label="required">*</abbr></label>

        <input type="text" name="Car_registration" id="Car_registration" value="<%= enc.Car_registration %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorRegistration" class="errors-text"></span>

        <label for="Camera_id">Kamera:</label>
        <select id="Camera_id" name="Camera_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %> >
            <option value="" selected>--- Wybierz kamerę ---</option>
            <% for (let i = 0; i < allCams.length; i++) { let cam = allCams[i]; %>
            <option value="<%= cam.id %>" label="<%= cam.id %>">

            </option>
            <% } %>
        </select>
        <span></span>

        <label for="time">Czas<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="time" id="time" value="<%= (formMode === 'createNew') ? '' : enc.time.toISOString().split('T')[0] + ' ' +  enc.time.toISOString().split('T')[1].substring(0,8)%>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorTime" class="errors-text"></span>

        <label for="authorized">Autoryzowano</label>
        <input type="text" name="authorized" id="authorized" value="<%= enc.authorized %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span></span>

        <label for="direction">Kierunek</label>
        <input type="text" name="direction" id="direction" value="<%= enc.direction %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span></span>

        <% if (formMode == 'showDetails') { %>
            <div class="section-buttons">
                <a href="/encounter/edit/<%= enc.id %>" class="button-edit">Edytuj</a>
            </div>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/encounter">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/encounter">Powrót</a>
            <% } %>
        </div>


    </form>
</main>

<%- include('../../fragments/footer.ejs') %>